<%
    // transform num to month name
    function getMonthName(month_num) {
        let month_name = ['EMPTY', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        return month_name[month_num];
    }
%>

<article class="post">
  <header class="post-header">
    <% if (index) { %>
      <h1 class="post-title"><a class="in-index" href="<%- url_for(post.path) %>"><%= post.title %></a></h1>
    <% } else { %>
      <h1 class="post-title"><a><%= post.title %></a></h1>
      <p class="post-detail">&rArr; <%= __('posted_on') %> <%= getMonthName(date(post.date, 'M')) %> <%= date(post.date, 'DD, YYYY') %></p>
    <% } %>
  </header>
  <% if (post.excerpt && index){ %>
    <div class="post-content"><%- post.excerpt %></div>
    <% if (theme.excerpt_link){ %>
     <p class="read-more-link">
       <a href="<%- url_for(post.path) %>"><%= __('read_more') %></a>
     </p>
    <% } %>
  <% } else { %>
    <div class="post-content"><%- post.content %></div>
  <% } %>

  <% if(index) { %>
    <div class="seperate-bar"></div>
  <% } %>
</article>
